<?xml version="1.0" encoding="UTF-8"?>
<plugin 
   id="org.jentrata.integration"
   name="Jentrata Integration Plugin"
   version="${version}"
   buildID="${buildNumber}"
   provider-name="org.jentrata"
   class="org.jentrata.spa.integration.IntegrationPluguin">

	<parameters>
		<parameter name="module-group-descriptor" value="org/jentrata/spa/integration/conf/integration.module-group.xml"/>
	</parameters>
	
	<requires>
	</requires>
	
	<runtime>
		<library name="${project.artifactId}.jar"/>
		<library name="conf/"/>
		<library name="lib/"/>
	</runtime>
	
	<extension-point id="org.jentrata.integration.sender" name="Ebms Sender Integration Extension Point Hanlder" class="org.jentrata.spa.integration.handler.MessageHandlerExtensionPointHandler" />
	<extension-point id="org.jentrata.integration.camel" name="Camel Integration Extension Point Hanlder" class="org.jentrata.spa.integration.handler.CamelProcessorExtensionPointHandler" />

</plugin>