<?xml version="1.0" encoding="UTF-8"?>
<plugin 
   id="org.jentrata.jms"
   name="Piazza Corvus JMS Plugin"
   version="${project.version}"
   provider-name="org.jentrata"
   class="org.jentrata.spa.jms.JMSProcessor">

	<parameters>
		<parameter name="module-group-descriptor" value="org/jentrata/spa/jms/conf/jms.module-group.xml"/>
	</parameters>
	
	<requires>
	</requires>
	
	<runtime>
		<library name="${project.artifactId}.jar"/>
		<library name="conf/"/>
		<library name="lib/"/>
	</runtime>
	
	<extension-point id="org.jentrata.jms.sender" name="JMS Sender Extension Point Hanlder" class="org.jentrata.spa.jms.handler.JMSExtensionPointHandler" />

	<!-- TODO: need to complete implementation of this handler -->
	<extension-point id="org.jentrata.jms.inbound" name="JMS Receiver Extension Point Hanlder" class="org.jentrata.spa.jms.handler.JMSInboundExtensionPointHandler" />
	
</plugin>