<?xml version="1.0" encoding="UTF-8"?>
<plugin 
   id="hk.hku.cecid.ebms"
   name="Piazza Corvus EbMS Plugin"
   version="@version@"
   provider-name="hk.hku.cecid"
   class="hk.hku.cecid.ebms.spa.EbmsProcessor"
>

	<parameters>
		<parameter name="module-group-descriptor" value="hk/hku/cecid/ebms/spa/conf/ebms.module-group.xml"/>
	</parameters>
	
	<requires>
	</requires>
	
	<runtime>
		<library name="corvus-ebms-core.jar"/>
		<library name="conf/"/>
		<library name="lib/"/>
	</runtime>

	<extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Plugin Inbound Listener">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.listener.EbmsInboundListener" /> 
	  <parameter name="context" value="/ebms/inbound" />
	</extension>
	
	<!--extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Plugin Outbound Listener">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.listener.EbmsOutboundListener" />
	  <parameter name="context" value="/auth/ebms/outbound" />
	</extension-->
	
	<extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Plugin Message Sender Service">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.service.EbmsMessageSenderService" />
	  <parameter name="context" value="/ebms/sender" />
	</extension>
	
	<extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Plugin Message Receiver List Service">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.service.EbmsMessageReceiverListService" />
	  <parameter name="context" value="/ebms/receiver_list" />
	</extension>
	
	<extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Plugin Message Receiver Service">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.service.EbmsMessageReceiverService" />
	  <parameter name="context" value="/ebms/receiver" />
	</extension>
	
	<extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Message History Service">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.service.EbmsMessageHistoryService" />
	  <parameter name="context" value="/ebms/msg_history" />
	</extension>

	<!-- extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Plugin Config Service">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.service.EbmsConfigService" />
	  <parameter name="context" value="/ebms/config" />
	</extension -->
	
	<extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="Ebms Permit Redownload Service">
	  <parameter name="class" value="hk.hku.cecid.ebms.spa.service.EbmsPermitRedownloadService" />
	  <parameter name="context" value="/ebms/permitdl" />
	</extension>
	
	<!-- default EbXML Header parameters they can be overriden by setting them as JMS message properties 
	<extension point="org.jentrata.jms.sender" name="Ebms JMS Outbound Message Handler">
		<parameter name="class" value="hk.hku.cecid.ebms.spa.handler.jms.EbmsMessageHandler" />
		<parameter name="queue" value="jms:queue:Ebms.Outbound" />
		<parameter name="cpaId" value="cpaid"/>
		<parameter name="service" value="http://localhost:8080/corvus/httpd/ebms/inbound"/>
		<parameter name="serviceType" value=""/>
		<parameter name="action" value="action"/>
		<parameter name="conversationId" value="test_conversationId"/>
		<parameter name="fromPartyId" value="test_a"/>
		<parameter name="fromPartyType" value="ParticipantID"/>
		<parameter name="toPartyId" value="test_b"/>
	</extension>
	-->
	
</plugin>
